[mysqld]
character_set_server=utf8

server_id = 1
port = 3306

innodb_buffer_pool_size = 128M
basedir = /usr/local/mysql
datadir = /opt/data/mysql/data
socket = /tmp/mysql.sock
pid-file = /opt/data/mysql/mysql.pid

log-bin = /opt/data/mysql/bin-log/mysql-bin
sync-binlog = 1

general_log = 1
log-error = /opt/data/mysql/log/mysql_err.log
general_log_file = /opt/data/mysql/log/mysql.log

[mysql]
default-character-set=utf8

